In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Assuming I am working with the dataset from github without downloading it on my computer

In [8]:
url ='https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'

In [9]:
#load data using url
food_dataset=pd.read_csv(url, encoding = 'latin-1',error_bad_lines =False)
food_dataset.describe()

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [ ]:
#save the dataset on the computer
#food_dataset.to_csv('C:/Users/HP/Desktop/Data Science Class/HDSC Winter 2022/Stage A - Intro to Python for Machine Learning/FoodBalanceSheets_E_Africa_NOFLAG.csv', index=False)

### Assuming I already downloaded the dataset on my computer

In [10]:

food = pd.read_csv('C:/Users/HP/Desktop/Data Science Class/HDSC Winter 2022/Stage A - Intro to Python for Machine Learning/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

#### Question 1

In [11]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
pd.DataFrame(lst, columns = col, index = [1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

#### Question 2

In [12]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
array[:2, 0:]
#array[:2, 0:]

TypeError: list indices must be integers or slices, not tuple

#### Question 3
Math

#### Question 4 
df.shape

In [17]:
food.shape

(60943, 12)

#### Question 5

In [18]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

#### Question 6

In [19]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

#### Question 7

In [20]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

#### Question 8
Set

#### Question 9
3 features, 100 observations

#### Question 10

df.iloc[ : ]

In [21]:
food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

#### Question 11

In [43]:
#total sum of Animal Fat produced in 2014 and 2017 respectively
SUM11= food.groupby([ 'Item']).sum()
SUM11

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

#### Question 12

In [35]:
#mean and standard deviation across the whole dataset for the year 2015to 3 decimal placess
std_Y2015 = food['Y2015'].std()
mean_Y2015 = food['Y2015'].mean()
print('Standard Deviation for the year 2015: ',round(std_Y2015,3),'Mean for the year 2015: ', round(mean_Y2015,3))

Standard Deviation for the year 2015:  1603.404 Mean for the year 2015:  135.236

#### Question 13

In [28]:
#total number and percentage of missing data in 2016 to 2 decimal places?
null_Y2016 = food['Y2016'].isnull().sum()
null_Y2016_percent = (null_Y2016/60943)*100
print('Number of nulls in 2016: ',null_Y2016,'Percentage of nulls in 2016: ', null_Y2016_percent,'%')

Number of nulls in 2016:  1535 Percentage of nulls in 2016:  2.5187470259094566 %

#### Question 14

In [ ]:
#year had the highest correlation with ‘Element Code’
corr = food.corr()
corr

#### Question 15

In [ ]:
#year with the highest sum of Import Quantity
SUM15= food.groupby([ 'Element']).sum()
SUM15

#### Question 16

In [ ]:
#the total number of the sum of Production in 2014
SUM16= food.groupby([ 'Element']).sum()
SUM16

#### Question 17

In [ ]:
#element with the highest sum in 2018
Element_Sum_2018 = food[['Y2018','Element']]
Element_Sum_2018.groupby(['Element']).sum()

#### Question 18

In [ ]:
#element with the 3rd lowest sum in 2018
Element_Sum_2018 = food[['Y2018','Element']]
Element_Sum_2018.groupby(['Element']).sum()

#### Question 19

In [48]:
#total Import Quantity in Algeria in 2018
Y2018= food[[ 'Element','Area','Y2018']]
Y2018

                                      Element      Area     Y2018
0               Total Population - Both sexes   Algeria  42228.00
1                    Domestic supply quantity   Algeria      0.00
2               Food supply (kcal/capita/day)   Algeria   3322.00
3      Protein supply quantity (g/capita/day)   Algeria     91.83
4          Fat supply quantity (g/capita/day)   Algeria     77.28
...                                       ...       ...       ...
60938                                    Food  Zimbabwe     16.00
60939     Food supply quantity (kg/capita/yr)  Zimbabwe      1.08
60940           Food supply (kcal/capita/day)  Zimbabwe      1.00
60941  Protein supply quantity (g/capita/day)  Zimbabwe      0.04
60942      Fat supply quantity (g/capita/day)  Zimbabwe      0.01

[60943 rows x 3 columns]

#### Question 20

In [ ]:
#total number of unique countries in the dataset
Number_of_Countries = food['Area'].nunique()
Number_of_Countries

In [11]:
food.describe(include ='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000